{% extends 'newsletter/base.html' %}
{% load static %}
{% block content %}
<div class="col-12 mt-5 mb-5 text-center">
    <h2> Клиенты сервиса</h2>
</div>
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'newsletter:create_client' %}">Добавить клиента</a>
</div>
<div class="container">
    <div class="row{flex:auto;}">
        {% for object in object_list %}
        <div class="col-6">
            <div class="card" style="width: 48rem;">
                <img class="card-img-top"
                     src="">
                <div class="card-body">
                    <h5 class="card-title-center">ФИО: {{ object.full_name|title }}</h5>
                    <h4 class="card-title-center">Почта: {{object.email}}</h4>
                    <p class="card-text-center">Комментарий: {{object.comment}}</p>
                    {% if object.owner == user or user.is_superuser %}
                    <a href="{% url 'newsletter:update_client' object.pk %}"
                       class="btn btn-success">Редактировать</a>
                    {% endif %}
                    <a href="{% url 'newsletter:delete_client' object.pk %}"
                       class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}
