{% extends 'newsletter/base.html' %}
{% load static %}
{% block content %}
<div class="col-12 mb-5">
    {% if not user.is_staff or user.is_superuser %}
    <p><a class="btn btn-primary" href="{% url 'newsletter:create_mail'%}" role="button">Добавить рассылку</a></p>
    {% endif %}
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Наименование рассылки</th>
        <th scope="col">Клиент сервиса</th>
        <th scope="col">Сообщение для рассылки</th>
        <th scope="col">Статус рассылки</th>
        {% if user.is_staff or user.is_superuser %}
        <th scope="col">Автор</th>
        <th scope="col">Активация рассылки</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.name|slice:100 }}</td>
        <td>
            <ul>
                {% for value in object.clients.all.values_list %}
                <li>{{ value.1 }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ object.message|slice:100 }}</td>
        <td>{{ object.status|slice:100 }}</td>
        {% if user.is_staff or user.is_superuser %}
        <td>{{ object.owner }}</td>
        <td>{{ object.is_active }}</td>
        {% endif %}
        {% if perms.mails.set_is_active %}
        {% if object.is_active %}
        <td><a href="{% url 'newsletter:toogle_activity' object.pk %}" class="btn btn-warning">Деактивировать</a></td>
        {% else %}
        <td><a href="{% url 'newsletter:toogle_activity' object.pk %}" class="btn btn-success">Активировать</a></td>
        {% endif %}
        {% endif %}
        <td><a href="{% url 'newsletter:view_mail' object.pk %}" class="btn btn-primary">Посмотреть</a></td>
        <td><a href="{% url 'newsletter:update_mail' object.pk %}" class="btn btn-success">Редактировать</a></td>
        <td><a href="{% url 'newsletter:delete_mail' object.pk %}" class="btn btn-danger">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
